/* ------display control------
/* when disconnected  */
#connected {
    display: none;
  }

#disconnected {
    display: inherit;
}
/* when connected */
.connected #connected {
    display: inherit;
}

.connected #disconnected {
    display: none;
}

/* ------theme control------ */

body {
    --background : #000;
    --text : #ba0000;
}

body.light-theme {
    --background: #eee;
    --text: #333;
}

/* ------styling------ */

body {
    background: var(--background);
}

button {
    background-color: var(--background);
    border: 1px solid var(--text);
    color: var(--text);
    border-radius: .5em;
    margin: 1em auto;
    padding: .1em 1em;

}

